html{ overflow-x: hidden;}
body{
	/*background: url(../2/bg-light.png) repeat-y ;*/
	/*background-size: 100% auto;*/
	background: #061F01;
	min-height: 2000px;
}

@media (min-width:500px){
	body{ 
		width: 500px; margin: 0 auto;
	} 
}

.content-wrap{
	padding: 0 4.9%;
}
.content{
	background: rgba(171,210,162,0.63); 
	padding: 7px;border-radius: 2px;
}
.box{
	position: relative;
	background: #fff; border-radius: 5px;
	margin-bottom: 10px;
	padding-top: 30px;padding-bottom: 10px;
}
.box:nth-child(4){ margin-bottom: 0;}
.box .cornor{
	position: absolute;display: inline-block; 
	width: 45px; height: 45px;
	top:0px; right: 0px;
	background: url(../3/cornor.png) center center no-repeat;
	background-size: 100% 100%;
}

.header{
	position: relative;
}.on-live{
	position: absolute;
	bottom: 9%;
    left: 18%;
    width: 26%;
    opacity: 0;
}

/*淘宝直播#################*/
.live .image{
	width: 90%; margin: 0 5%; margin-top: 20px;
}

/*公司简介####################*/
ul.company-list li{
	position: relative;padding: 10px 0; margin-bottom: 35px;
}
ul.company-list li .image{
	z-index: 1; width: 40%; margin-left: 10px;
}
ul.company-list li .intro{
	position: absolute;
	width:auto; right: 2%;
	z-index: 2;
    color: #fff; padding: 10px 5px;
    height: 120px;
    top: 65%;
    margin-top: -60px;
    font-size: 13px;
}
ul.company-list li .intro h3{
	font-size: 18px; line-height: 40px; font-weight: bold;
	color: #19910F;
}
ul.company-list li .intro .txt{
	background: rgba(29,130,71,0.5);
	padding: 0 10px; font-size: 12px;
}
ul.company-list li .intro .txt p:nth-child(2){ margin-right: 20px;}
ul.company-list li .intro .txt p:nth-child(3){ margin-right: 40px;}

ul.company-list li:nth-child(even){
	text-align: right;
    margin-right: 10px;
}
ul.company-list li:nth-child(even) .image{
	margin-right: 0;
}
ul.company-list li:nth-child(even) .intro{
	left: 2%; right: auto;
}
ul.company-list li:nth-child(even) .intro .txt p:nth-child(2){ margin-right: 20px;}
ul.company-list li:nth-child(even) .intro .txt p:nth-child(3){ margin-right: 40px;}


/*淘宝店铺####################*/
ul.store-list li{
	margin-bottom: 20px;
}
ul.store-list li .image{
	width: 100%;
}

/*联系方式################*/
.link .image{
	width: 150px; margin: 0 auto;display: block;
}
.link .btn-group{
	text-align: center; line-height: 50px;
	
}
.link .btn{
	color: #fff;
	margin: 0 5px;
	background: url(../3/para-bg.png);
	background-size: 100% 100%;
	padding: 5px 15px;
}


.goUp{
	position: fixed; right: 10px; bottom: 20px; 
	width: 30px; height: 30px; line-height: 26px;
	text-align: center; background: rgba(0,0,0,0.2);
	color: #fff; font-size: 26px;z-index:1000; 
	display: none;
}





/*辅助=========================================*/
.action{
	opacity: 0;
}
.hidden{
	display: none;
}
.btn{
	text-align: center; font-size: 14px;color: #ccc;
	border-radius: 10px; padding: 7px 10px;font-weight: bold;
	background:rgba(255,255,255,0.2)
}
.iconfont{
	vertical-align: top;
}
.frame{
	background: url(../3/frame.png);
	background-size: 100% 100%;
	font-size: 14px;
    line-height: 28px;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px;
}
.frame p{
	text-align: center;
}
.para{
	background: url(../3/para-bg.png);
	background-size: 100% 100% ;
	text-align: center;    
	font-size: 14px;
    line-height: 25px;
    color: #fff;
    margin: 0 10%;
    margin-top: 5px;
}
.no-bg{
	background: none; color: #666;
}
.txt{
	font-size: 14px;
    line-height: 25px;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
.title{
    background: url(../3/title.png) no-repeat center center;
    background-size: 110%;
    text-align: center;
    color: #18A60F;
    font-size: 20px;
    /*font-style: italic;*/
    font-weight: bold;
    margin-bottom: 10px;
}
.title dt{
	line-height: 30px;
    font-size: 22px;
    margin-top: 23px;
}
.title dd{
	font-size: 14px;
    line-height: 20px;
}
.padder{
	padding: 0 10px;
}
.indent{
	text-indent: 28px;
}

.bg-deep{
	background: url(../2/bg-deep.png) repeat-y ;
	background-size: 100% auto;
}
.fff{ color: #ccc;}
