@media (min-width:500px){
	html{ 
		width: 500px; margin: 0 auto;
	} 
}
.more{
	position: fixed; right: 5px; 
	width: 44px; height: 44px; line-height: 44px;
	text-align: center; background: rgba(0,0,0,0.3);
	color: #fff;z-index:1000; 
	box-shadow: 0 0 4px rgba(255,255,255,0.4);
	cursor: pointer;
}
.more i{
	font-size:22px;
}
.more.goUp{
	bottom:67px; display: none;
	/*background: rgba(23,117,8,0.4);*/
}
.more.jump{
	bottom: 20px;
	background: rgba(23,117,8,0.4);
	font-size: 10px;
	line-height: 16px;
	box-sizing: border-box;
	padding: 5px;
}

body{
	background: #fff;
	/*min-height: 4000px;*/
}
.banner{
	position: relative;
}
.banner .top-link{
	position: absolute;display: inline-block;
	bottom: 11%; right: 1%;
	width: 47%; height: 12%;
	background: url(../4/top-link.png);
	background-size: 100% 100%;
}


.btn-more-wrap{
	text-align: center;
}
.btn-more{
	padding: 5px 10px;
	border-radius: 5px; color: #fff;
	display: inline-block;
	font-size: 14px;
    margin-bottom: 10px;
}

.btn{
	position: absolute;
	display: inline-block;
	background-size: 100% 100%; 
}
.top-btn{
	background-image: url(../5/top-btn.png);
	width: 38%; height: 13%;
    bottom: 10%; left: 50%; margin-left: -19%;
}
.bottom-btn1{
	background-image: url(../5/bottom-btn1.png);
	width: 36%; height: 9.3%;
    bottom: 14%; left: 12%;
}
.bottom-btn2{
	background-image: url(../5/bottom-btn2.png);
	width: 36%; height: 9.3%;
    bottom: 14%; right: 12%;
}

.full-img.pic1{
	width: 96%; margin-left: 3%;
}
.full-img.pic3{
	width: 84%; margin-left: 8%;
}
.full-img.pic8,.full-img.pic9{
	width: 96%; margin-left: 2%; margin-bottom: 20px;
}
.full-img.pic11{
	margin-bottom: 0; margin-top: 30px;
}




/*辅助=========================================*/
.action{
	opacity: 0;
}
.hidden{
	display: none;
}
/*.btn{
	text-align: center; font-size: 14px;color: #ccc;
	border-radius: 10px; padding: 7px 10px;font-weight: bold;
	background:rgba(255,255,255,0.2)
}*/
.iconfont{
	vertical-align: top;
}
.frame{
	background: url(../3/frame.png);
	background-size: 100% 100%;
	font-size: 14px;
    line-height: 28px;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px;
}
.frame p{
	text-align: center;
}
.para{ 
	font-size: 14px;
    line-height: 25px;
    color: #666;
    margin-top: 5px;
    text-align: left;
    
}
.no-bg{
	background: none; color: #666;
}
.txt{
	font-size: 14px;
    line-height: 25px;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
.box{
	text-align: center; padding: 20px 10px 10px;
}
.title{
    background: url(../introduce/title.png) no-repeat center center;
    background-size: 100% 100%;
    text-align: center;
    color: #666;
    font-size: 20px;
    /*font-style: italic;*/
    font-weight: bold;
    margin: 0 auto;
    padding: 15px 25px;display: inline-block;
}
.padder{
	padding: 0 10px;
}
.indent{
	text-indent: 28px;
}

.bg-deep{
	background: url(../2/bg-deep.png) repeat-y ;
	background-size: 100% auto;
}
.fff{ color: #ccc;}
.full-img{
	width: 100%; margin: 10px 0;
}
.lg-img{
	width: 90%; margin-left: 5%;
}
.yellow{
	color:#F3C151; font-weight: bold;
}
.half{
	display: inline-block; width: 50%; float: left;
	padding: 5px; box-sizing: border-box;
}
.no-margin{
	margin: 0;
}
.clearfix{
	overflow: hidden;
}

.txt-left{
	text-align: left;
}
.txt-center{
	text-align: center;
}
.txt-right{
	text-align: right;
}
.pos{
	position: relative;
}
