/*辅助类*/
.action{
	opacity: 0;
}
.iconfix{
	vertical-align: top;
	font-size: 20px;
}
.frame{
	border: 1px solid #BCA053; margin-top: 20px;
	padding: 20px; background: url(../img/bg1.jpg) no-repeat;
	background-size: cover;
	color:#ccc;
}
.bitch{
	opacity: 0.8;
}
.horizonl-padder{
	padding: 0 10px; 
}
.hidden{
	display: none;
}
.block{
	margin-bottom: 15px;
}
.col-xs-4{
	width: 33.33333333333%;float: left;position: relative;
	min-height: 1px; padding-left: 15px; padding-right: 15px;
}
p{ 
	margin-bottom: 10px; font-size: 14px; line-height: 20px;
}
dl{ 
	margin-bottom: 20px;
}
*{
	box-sizing: border-box;
}



@media only screen and (min-width:980px ) {
	body{
		width:980px; margin: 0 auto;
	}
}
body{
	/*background:rgba(0,0,0,0.85);*/
	color: #333;background: rgba(34,139,55,0.1);
	/*background: url(../img/bg3.jpg) no-repeat;*/
	background-size: 100% 100%;
}
.goUp{
	position: fixed; right: 10px; bottom: 20px; 
	width: 30px; height: 30px; line-height: 26px;
	text-align: center; background: rgba(255,255,255,0.2);
	color: #fff; font-size: 26px;z-index:1000; 
	display: none;
}

.header {
	background: #141414; background: url(../img/bg1.jpg) no-repeat; background-size: 100% 100%;
	border-bottom: 2px solid #02641B;
	border-bottom: 2px solid #BCA053;
}

.header .brand {
	padding: 5px 10px;text-align: center;
}

.header .logo img {
	height: 50px;
}


/*==swiper替换=============================================*/
#main-swiper .swiper-slide>a{
	display: inline-block; width: 100%;
}
#main-swiper .swiper-slide a img{
	width: 100%;
}
#main-swiper .swiper-pagination-bullet{
	width: 25px; height: 5px; border-radius: 5px; background: rgba(255,255,255,0.5); opacity: 0.9;
}
#main-swiper .swiper-pagination-bullet-active{
	background: #019A1D!important; transform: scale(1.1)!important;box-shadow: 0 0 0px #fff;
}

/*标题*/
.title{
	overflow: hidden; opacity: 0.95;
}
.main-title{
	text-align: center; height: 50px; line-height: 50px; font-size: 20px; padding: 0;color: #DBB85C;
}
.left-arrow{
	background: url(img/l.png) no-repeat right center; height: 50px; 
	background-size:contain; background-origin: content-box;
}
.right-arrow{
	background: url(img/r.png) no-repeat left center;height: 50px; 
	background-size:contain; background-origin: content-box;
}
.introduce{
	text-indent: 30px; color: #333; font-size: 15px; padding: 0 30px; line-height: 20px;
}



/*展示区轮播*/
.show{
	position: relative;
	background: rgba(255,255,255,0.05); /*background: #333333;*/
	/*background: url(../img/bg1.jpg);*/
}
#show-swiper.swiper-container {
  width: 350px; height: 350px; margin: -20px auto; padding: 40px;
}
#show-swiper .swiper-slide {
  background-position: center; background-size: cover;
  border-radius: 50%;
  border: 2px solid #DCB345;
  border: 2px solid rgba(220,180,70,0.7) ;
}

#show-swiper .swiper-pagination-bullet{
	width: 16px; border-radius: 4px; background: rgba(255,255,255,0.4);
}
#show-swiper .swiper-pagination-bullet-active{
	background: rgba(255,255,255,0.5); transform: scale(1.1)!important;box-shadow: 0 0 2px #fff;
}
#show-swiper .swiper-button-next,.swiper-button-prev{
	color: #DFBC5F;
	background-size: contain!important;
}
#show-swiper .swiper-button-next{
	background: url(img/rightArrow.png) no-repeat center center;right: 0px;
}
#show-swiper .swiper-button-prev{
	background: url(img/leftArrow.png) no-repeat center center; left: 0px;
}

.show-list{
	padding: 30px;
}
.show-box{
	/*border: 1px solid #BCA053;*/
	 /*border: 1px solid #926C45;*/
	margin-bottom: 30px;
	/*border: 1px solid RGBA(255,255,255,0.4);*/
    /*box-shadow: 0 0 10px rgba(0,128,27,0.8);*/
   background: url(img/border.png); background-size: 100% 100%;
   padding: 1px;
   box-shadow: 3px 3px 10px #000;
}
.show-box .img-wrap{
	text-align: center; padding: 20px;
	background: rgba(0,128,27,0.25);
	/*border-bottom: 1px solid RGBA(255,255,255,0.4);*/
	background: url(../img/bg1.jpg); background-size: cover;
}
.show-box .img-wrap img{
	width: 100%; border-radius: 50%;border: 3px solid rgba(255,255,255,0.1);
}
.show-box .img-title{
	text-align: center; color: #ccc; font-size: 18px; padding: 10px 0;
	background: url(../img/bg1.jpg); background-size: cover;
}


/*直播相关*/
.online-wrap>li{
	/*margin-bottom: 20px;*/
	padding: 20px 0; background: rgba(255,255,255,0);
}
.online-spot{
	text-align: center; position: relative;
}
.online-spot>img{
	 border: 5px solid rgba(255,255,255,0.8);
}
.online-spot .online-spot-btn{
	position: absolute; bottom: 30px; left: 5%; width: 100px; height: 30px;
	line-height: 30px; color: #fff; text-align: center;
	border-radius: 4px; font-size: 14px; 
	background: rgba(255,255,255,0.4); 
	background: #228B37;
	background: rgba(34,139,55,0.7);
}
.online-link{
	position: relative;
}
.online-link .online-link-btn{
	position: absolute; bottom: 30px; left: 5%; width: 100px; height: 30px;
	line-height: 30px; color: #fff; text-align: center;
	border-radius: 4px; font-size: 14px; 
	background: rgba(255,255,255,0.4); 
	background: #228B37;
	background: rgba(34,139,55,0.7);
}
.online-code{
	text-align: center;
}
.online-code p{
	margin: 5px 0;
}
.alink>a{
	color: #DBB85C;
}

#xxx img{ width: 100%;}


.hoster{
	text-align: center;
}


.fade-img{ position: relative;}
.fade-img div{
	position: absolute; width: 100%; height: 100%; top: 0; left: 0;
	background: rgba(255,255,255,0.2);
}
